body {background: #fafafa}

.row {width: 960px}

/*.page_wrap {margin: 0 auto 25px}*/

header {background: #f3f3f3; clear:both; padding: 20px 0 40px}



p {color: #333}
.welcome_text {font-size: 32px; margin-bottom: 0; text-align:center; font-weight: normal; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic}
.excerpt {font-size: 24px; margin-bottom: 0; font-weight: normal; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic}

h1,h2,h3,h4 {font-family:'Open Sans Condensed',sans-serif; font-weight: normal; color: #333; margin: 20px 0}

/* sections */
.section_light {background: #FFF; border-top: 1px dotted #999; border-bottom: 1px dotted #999; padding: 20px 0; clear:both}
.section_light h1 {text-align: center; border-bottom: 1px dotted #999; padding-bottom: 20px; margin: 0 0 20px 0}

.section_dark {background: #262626; border-top: 0; border-bottom: 1px dotted #999; padding: 20px 0 40px}
.section_dark h2 {color: #999999; margin: 0 0 20px 0; font-size: 22px; text-align: center}

.section_main {padding: 20px 0}
.section_main h2 {padding: 0 0 20px}

/* END Frontpage sections */

.heading_supersize {font-size: 100px; text-align:center; font-weight: normal; line-height: 150px; margin:0 0 10px; color: #212121}
.heading_largesize {font-size: 34px; text-align:center; font-weight: normal}

.footer {text-align:center; padding: 50px 0}

/*-------------------------------------------------------------------------------------------------*/
/* Masonry
/*-------------------------------------------------------------------------------------------------*/

.centered { margin: 0 auto; }

.no-js .mi-slider ul {
	position: relative;
	left: auto;
	bottom: auto;
	margin: 0;
	overflow: visible;
}

.no-js .mi-slider ul li {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.no-js nav {
	display: none;
}




