{% extends "../main_tp.html" %}
{% block head %}
<title>域名whois查询</title>
<style>
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
</style>
{% end %}
{% block body %}
<div class="row" style="background-color: white;margin-top: 40px;">
    <div class="row" style="margin-top: 50px;">
        <div class="large-3 columns">
            <label for="name" class="inline right">请输入域名</label>
        </div>
        <div class="large-6 columns">
            <input type="text" id="name" name="domain" placeholder="例,baidu.com" required>
        </div>
        <div class="large-3 columns">
            <button class="button tiny" id="btn-query">WHOIS查询</button>
        </div>
    </div>
    <div class="row" hidden>
        <div class="large-12 columns">
            <div data-alert class="alert-box secondary radius">
                以下信息来自于2015-5-6更新
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-8 columns">
            <table style="margin-left: 40px;">
                <thead>
                <tr>
                    <th width="200">关键信息</th>
                    <th width="400">内容</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>域名<br>Domain Name</td>
                    <td id="query_domain"></td>
                </tr>
                <tr>
                    <td>WHOIS服务器<br>Whois Server</td>
                    <td id="top_whois_server"></td>
                </tr>
                <tr>
                    <td>注册机构<br>Registrant Organization</td>
                    <td id="reg_org"></td>
                </tr>
                <tr>
                    <td>注册人<br>Registrant Name</td>
                    <td id="reg_name"></td>
                </tr>
                <tr>
                    <td>注册电话<br>Registrant Phone</td>
                    <td id="reg_phone"></td>
                </tr>
                <tr>
                    <td>注册邮箱<br>Registrant Email</td>
                    <td id="reg_email"></td>
                </tr>
                <tr>
                    <td>注册日期<br>Creation Date</td>
                    <td id="creation_date"></td>
                </tr>
                <tr>
                    <td>更改日期<br>Updated Date</td>
                    <td id="updated_date"></td>
                </tr>
                <tr>
                    <td>到期日期<br>Expiration Date</td>
                    <td id="expiration_date"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="label" id="btn-more" style="font-size:14px;">
                            <i class="fa fa-angle-double-right fa-fw" id="more"></i>
                            更多详细信息
                        </span>
                    </td>
                </tr>
                <tr hidden id="tr-show">
                    <td colspan="2">
                        <pre id="details"></pre>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="large-4 columns">
            <table style="margin-right: 40px;">
                <thead>
                <tr>
                    <th width="300">类似域名</th>
                    <th width="200">是否注册</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>baidu.com</td>
                    <td>注册</td>
                </tr>
                <tr>
                    <td>baidu.cn</td>
                    <td>注册</td>
                </tr>
                <tr>
                    <td>baidu.wang</td>
                    <td>注册</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% end %}
{% block foot_js %}
<script>
    $(document).ready(function () {
        $("#whois").attr("class", "active");
    });
    $(document).ready(function () {
        $("#btn-more").bind("click", function () {
            $("#tr-show").fadeToggle("slow", function () {
                if ($("#more").attr("class") == "fa fa-angle-double-right fa-fw") {
                    $("#more").attr("class", "fa fa-angle-double-down fa-fw");
                } else {
                    $("#more").attr("class", "fa fa-angle-double-right fa-fw");
                }
            });
        });
    });
    $(document).ready(function () {
        $("#btn-query").bind("click", function () {
            $("#query_domain").text($("#name").val());
            $.ajax({
                url: '/whois/query',
                type: "get",
                data: {
                    domain: $("#name").val(),
                    stamp: Math.random()   // preventing "get" method using cache send to client
                },
                timeout: 5000, //超时时间
                success: function (data) {
                    assignment_element(data);
                },  //成功后的处理
                error: function (xhr) {
                    if (xhr.status == "0") {
                        alert("超时，稍后重试");
                    } else {
                        alert("错误提示：" + xhr.status + " " + xhr.statusText);
                    }
                }, // 出错后的处理
            });
        });
    });
    function assignment_element(data) {
        var whois = JSON.parse(data);
        $("#top_whois_server").text(whois[0].top_whois_server);
        $("#reg_org").text(whois[0].org_name);
        $("#reg_name").text(whois[0].reg_name);
        $("#reg_phone").text(whois[0].reg_phone);
        $("#reg_email").text(whois[0].reg_email);
        $("#creation_date").text(whois[0].creation_date);
        $("#updated_date").text(whois[0].updated_date);
        $("#expiration_date").text(whois[0].expiration_date);
        $("#details").text(whois[0].domain_details);
    }
    document.onkeydown = function (e) {
        var theEvent = window.event || e;
        var code = theEvent.keyCode || theEvent.which;
        if (code == 13) {
            $("#btn-query").click();
        }
    };
</script>
{% end %}