{% extends "../main_tp.html" %}
{% block head %}
    <title>域名whois查询</title>
{% end %}
{% block body %}
<div class="row" style="background-color: white;margin-top: 40px;">
    <div class="row">
        <form method="post" action="/whois" style="margin-top: 50px;">
            <div class="row">
                <div class="large-3 columns">
                    <label for="name" class="inline right">请输入域名</label>
                </div>
                <div class="large-6 columns">
                    <input type="text" id="name" name="domain" placeholder="例,baidu.com" required>
                </div>
                <div class="large-3 columns">
                    <input type="submit" class="button tiny" value="查询">
                </div>

            </div>
        </form>
    </div>
    <div class="row" hidden>
        <div class="large-12 columns">
            <div data-alert class="alert-box secondary radius">
                以下信息来自于2015-5-6更新
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-8 columns">
            <table style="margin-left: 40px;width:auto;">
                <thead>
                    <tr>
                        <th width="200">关键信息</th>
                        <th width="400">内容</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>域名<br>Domain Name</td>
                            <td>{{domain}}</td>
                        </tr>
                        <tr>
                            <td>WHOIS服务器<br>Whois Server</td>
                            <td>{{server}}</td>
                        </tr>
                        <tr>
                            <td>注册机构<br>Registrant Organization</td>
                            <td>{{reg_org}}</td>
                        </tr>
                        <tr>
                            <td>注册人<br>Registrant Name</td>
                            <td>{{reg_name}}</td>
                        </tr>
                        <tr>
                            <td>注册电话<br>Registrant Phone</td>
                            <td>{{reg_phone}}</td>
                        </tr>
                        <tr>
                            <td>注册邮箱<br>Registrant Email</td>
                            <td>{{reg_email}}</td>
                        </tr>
                        <tr>
                            <td>注册日期<br>Creation Date</td>
                            <td>{{creation_date}}</td>
                        </tr>
                        <tr>
                            <td>更改日期<br>Updated Date</td>
                            <td>{{updated_date}}</td>
                        </tr>
                        <tr>
                            <td>到期日期<br>Expiration Date</td>
                            <td>{{expiration_date}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span class="label" id="btn-more" style="font-size:14px;"><i class="fa fa-angle-double-right" id="more"></i> 更详细信息</span>
                            </td>
                        </tr>
                        <tr hidden id="tr-show">
                            <td colspan="2">
                                <pre>
                                {{detail}}
                                </pre>
                            </td>
                        </tr>
                  </tbody>

            </table>
        </div>
        <div class="large-4 columns">
            <table style="margin-right: 40px;">
                <thead>
                    <tr>
                        <th width="300">类似域名</th>
                        <th width="200">是否注册</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>baidu.com</td>
                            <td>注册</td>
                        </tr>
                        <tr>
                            <td>baidu.cn</td>
                            <td>注册</td>
                        </tr>
                        <tr>
                            <td>baidu.wang</td>
                            <td>注册</td>
                        </tr>
                  </tbody>
            </table>
        </div>
    </div>
</div>
{% end %}
{% block foot_js %}
<script>
    $(document).ready(function(){
         $("#whois").attr("class","active");
    });
    $(document).ready(function(){
       $("#btn-more").bind("click",function(){
//          $("#tr-show").show()
            $("#tr-show").fadeToggle("slow",function(){
                if ($("#more").attr("class")=="fa fa-angle-double-right"){
                    $("#more").attr("class","fa fa-angle-double-down");
                }else{
                    $("#more").attr("class","fa fa-angle-double-right");
                }
            });
       });
    });
</script>
{% end %}
