{% extends "main_tp.html" %}
{% block head %}
<!--导航栏定位-->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=s3FsEkH25DOi97vzaqUCmOkU"></script>
<title>联系我们</title>
{% end %}
{% block body %}
<header>
    <h1 class="welcome_text">联系我们</h1>
</header>

<div class="row">
    <div class="large-6 columns">
        <h3>联系地址</h3>
        <p><strong>网络与信息安全技术研究团队</strong></p>
        <p>
            <span><i class="fa fa-phone"></i> 电话: 0631-5686152</span><br>
            <span><i class="fa fa-fax"></i> 传真: 0631-5686152</span><br>
            <span><i class="fa fa-envelope-o"></i> 邮箱: nisrc@hit.edu.cn</span><br>
            <span><i class="fa fa-location-arrow"></i> 地址: 山东省威海市文化西路2号<br>&nbsp;&nbsp;&nbsp;&nbsp;哈尔滨工业大学(威海)<br>&nbsp;&nbsp;&nbsp;&nbsp;研究院二号楼305室</span>
        </p>
        <p><strong>时间: 周一到周六 8.00 - 17.30</strong><br>
            <em>不断创新，不断进步</em>
        </p>
    </div>
    <div class="large-6 columns">
        <h3>团队位置</h3>
        <div style="width:500px;height:350px;border:#ccc solid 1px;font-size:12px" id="map"></div>
    </div>
</div>
{% end %}
{% block foot_js %}
<script src={{static_url("js/contact.js")}}></script>
{% end %}