{% extends "main_tp.html" %}
{% block head %}
<!--导航栏定位-->
<script>
    $(document).ready(function(){
         $("#index").attr("class","active");
    })
</script>
<title>网站首页</title>
{% end %}
{% block body %}
    <header>
        <h1 class="heading_supersize">域名WHOIS查询</h1>
        <h2 class="welcome_text">查询域名WHOIS相关的详细信息!</h2>
    </header>
    <section class="section_light">

        <div class="row">

            <div class="large-4 columns">
                <h3><i class="fa fa-wikipedia-w pull-left fa-2x"></i> WHOIS百科</h3>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;WHOIS是用来查询域名所有者等信息的传输协议。简单说，WHOIS就是一个用来查询域名是否已经被注册，以及注册域名的详细信息的数据库
                </p>
            </div>


            <div class="large-4 columns">
                <h3><i class="fa fa-internet-explorer pull-left  fa-2x"></i> WHOIS查询</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;网站为用户提供免费的域名WHOIS信息查询，输入相应域名，您将会得到该域名所对应的whois信息，包括注册者姓名、电话、邮箱、详细信息等</p>
            </div>
            <div class="large-4 columns">
                <h3><i class="fa fa-server pull-left fa-2x"></i> WHOIS服务器</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;该功能提供全球已知的顶级域名后缀的WHOIS服务器地址和与之对应二级服务器地址</p>
            </div>

        </div>
    </section>
{% end %}
