{% extends "main_tp.html" %}
{% block head %}
<!--导航栏定位-->
<script>
    $(document).ready(function(){
         $("#index").attr("class","active");
    })
</script>
{% end %}
{% block body %}
    <header>
        <h1 class="heading_supersize">域名WHOIS查询</h1>
        <h2 class="welcome_text">查询域名WHOIS相关的详细信息!</h2>
    </header>
    <section class="section_light">

        <div class="row">

            <div class="large-4 columns">
                <h3><i class="fa fa-send"></i> WHOIS百科</h3>
                <p>
                    <code>WHOIS</code>是用来查询域名的IP以及所有者等信息的传输协议。简单说，Whois就是一个用来查询域名是否已经被注册，以及注册域名的详细信息的数据库
                </p>
            </div>


            <div class="large-4 columns">
                <h3><i class="fa fa-wechat"></i> Whois 查询</h3>
                <p>该网站为用户提供免费的域名<code>whois</code>信息查询，只需要输入相应域名，例如<code>baidu.com</code>,您将会得到该域名所对应的whois信息，包括注册者姓名、电话、邮箱、详细信息等内容</p>
            </div>
            <div class="large-4 columns">
                <h3><i class="fa fa-weibo" title="video"></i> WHOIS服务器</h3>
                <p>该功能提供全球已知的顶级域名注册商的服务器地址和二级服务器地址，例如<code>.cn</code>为<code>whois.nic.cn</code>,并且提供该顶级域名的所有二级域名</p>
            </div>

        </div>
    </section>
{% end %}
