<!DOCTYPE html>
<html lang="zh-CN" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://static.runoob.com/assets/foundation-5.5.3/foundation.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://static.runoob.com/assets/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://static.runoob.com/assets/foundation-5.5.3/js/foundation.min.js"></script>
    <script src="http://static.runoob.com/assets/foundation-5.5.3/js/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="{{static_url("css/main.css")}}">
    {% block head %}
    <title>测试首页内容</title>
    {% end %}
</head>
<!--<body style="height:1500px;background-color: #eeeeee;">-->
<body>
<div class="fixed">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">网络与信息安全技术研究团队</a></h1>
            </li>
            <!-- 小屏幕上折叠按钮: 去掉 .menu-icon 类，可以去除图标。
           如果需要只显示图片，可以删除 "Menu" 文本 -->
            <!--<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>-->
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li id="index"><a href="/">网站首页</a></li>
                <li id="whois"><a href="/whois">域名WHOIS查询</a></li>
                <li><a href="#">域名顶级后缀</a></li>
                <li><a href="#">域名WHOIS服务器</a></li>
                <li class="has-dropdown">
                    <a href="#">域名相关</a>
                    <ul class="dropdown">
                        <li><label>域名</label></li>
                        <li><a href="#">域名转换</a></li>
                        <li><label>IP</label></li>
                        <li><a href="#">域名IP </a> </li>
                        <li><a href="#">域名CDN</a></li>
                        <li><a href="#">DNS服务器</a> </li>
                    </ul>
                </li>
                <li id="contact"><a href="/contact">联系我们</a> </li>
                <li class="has-dropdown">
                    <a href="#"><i class="fa fa-user fa-fw"></i> 用户</a>
                    <ul class="dropdown">
                        <li><a href="#">注册</a></li>
                        <li><a href="#">登录</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>
{% block body %}
{% end %}
<footer>
      <div class="row">
          <div class="large-12 columns footer">
              <a href="#" class="fa fa-desktop" style="font-size:16px; margin-right:15px"> 主页</a>
              <a href="#" class="fa fa-facebook" style="font-size:16px; margin-right:15px"> Facebook</a>
              <a href="#" class="fa fa-weibo" style="font-size:16px; margin-right:15px"> 微博</a>
              <a href="#" class="fa fa-wechat" style="font-size:16px; margin-right:15px"> 微信</a>
          </div>
      </div>
</footer>
<!-- 初始化 Foundation JS -->
<script>
    $(document).ready(function () {
        $(document).foundation();
    })
</script>
{% block foot_js %}
{% end %}
</body>
</html>
